<style>
	.shop-border{
		border : 2px solid black;
		border-radius: 5px;
		padding:10px;
	}
	.button-Booked{
		background-color: rgb(50, 241, 101);
		border-radius: 10px;
		width:200px;
	}
	.button-Available{
		background-color: rgb(50, 139, 241);
		border-radius: 10px;
		width:200px;
	}
</style>
<div class="col-6 shop-border">
	<strong style="font-size:24px;"><a>{{ doc.title or doc.name }}</a></strong>
	<p><b>Airport : </b>{{ doc.airport }}</p>
	<p><b>Terminal : </b>{{ doc.terminal }}</p>
	<p><b>Shop No : </b>{{ doc.shop_no }}</p>
	<p><b>Shop Size : </b>{{ doc.shop_size }} Square Feet</p>
	<p><b>Rent : </b>{{ doc.standard_rent }}</p>	
	<button class="button-{{ doc.status }}">{{doc.status}}</button>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
    const resultElements = document.querySelectorAll('.result');
    
    resultElements.forEach(function(element) {
        element.classList.add('row');
    });
});
</script>

